body
{
    margin: auto;
    padding: auto;
    background: cadetblue;
    
}

footer
{
    background:yellowgreen;
}

#main-image
{
    height: 480px;
    background: url('../image/background-2068215__340.jpg');
    background-size: 100%;
    
    
    margin: auto;
}
#main-image h1
{
    font-weight: bold;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(37, 14, 241);
    font-size: 8em;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail p {
    margin-top: 15px;
    color: rgb(194, 8, 33);
  }
  .btn {
    padding: 10px 20px;
    background-color: rgb(104, 207, 19);
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: rgb(14, 56, 14);
  }
  .modal-header, h4, .close {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 30px;
  }
  .modal-header, .modal-body {
    padding: 40px 50px;
  }
  .h3
  {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: black;
      
  }